APP_NAME="Syntax Orbital Ground Station"
APP_ENV=development
APP_PORT=8003
APP_KEY=base64:b3JiaXRhbF9ncm91bmRfc3RhdGlvbl8zZF9rZXlfOTg3NjU=

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_orbital
DB_USERNAME=syntax_user
DB_PASSWORD=syntax_secret_password

STATIC_CDN_URL=http://localhost:8090
