APP_NAME="Syntax School"
APP_ENV=development
APP_PORT=8002
APP_KEY=base64:c3ludGF4ZG9jc19zY2hvb2xfc2VjcmV0X2tleV81NDMyMQ==

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_school
DB_USERNAME=syntax_user
DB_PASSWORD=syntax_secret_password

STATIC_CDN_URL=http://localhost:8090
