APP_NAME="Syntax CMS"
APP_ENV=development
APP_PORT=8001
APP_KEY=base64:c3ludGF4ZG9jc19jbXNfc2VjcmV0X2tleV8xMjM0NQ==

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_cms
DB_USERNAME=syntax_user
DB_PASSWORD=syntax_secret_password

STATIC_CDN_URL=http://localhost:8080
